MailEnable.DeleteAccount/Service References/MePostOfficeService/PostOffice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mailenable.com/MEWebAdminService/PostOffice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mailenable.com/MEWebAdminService/PostOffice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mailenable.com/MEWebAdminService/PostOffice">
      <s:element name="AddPostoffice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPostofficeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPostofficeResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostoffice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostofficeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPostofficeResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostofficeObjectProperties">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ObjectProperties" type="tns:Postoffice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Postoffice">
        <s:complexContent mixed="false">
          <s:extension base="tns:MarshalByRefObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Host" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MarshalByRefObject" abstract="true" />
      <s:element name="GetPostofficeObjectPropertiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPostofficeObjectPropertiesResult" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ObjectProperties" type="tns:Postoffice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListPostoffice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectList" type="tns:ArrayOfPostoffice" />
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Postoffice" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Top" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="MaxLength" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPostoffice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Postoffice" nillable="true" type="tns:Postoffice" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListPostofficeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ListPostofficeResult" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ObjectList" type="tns:ArrayOfPostoffice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemovePostoffice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemovePostofficeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemovePostofficeResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditPostoffice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NewStatus" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditPostofficeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditPostofficeResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddPostofficeSoapIn">
    <wsdl:part name="parameters" element="tns:AddPostoffice" />
  </wsdl:message>
  <wsdl:message name="AddPostofficeSoapOut">
    <wsdl:part name="parameters" element="tns:AddPostofficeResponse" />
  </wsdl:message>
  <wsdl:message name="GetPostofficeSoapIn">
    <wsdl:part name="parameters" element="tns:GetPostoffice" />
  </wsdl:message>
  <wsdl:message name="GetPostofficeSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostofficeResponse" />
  </wsdl:message>
  <wsdl:message name="GetPostofficeObjectPropertiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPostofficeObjectProperties" />
  </wsdl:message>
  <wsdl:message name="GetPostofficeObjectPropertiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostofficeObjectPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="ListPostofficeSoapIn">
    <wsdl:part name="parameters" element="tns:ListPostoffice" />
  </wsdl:message>
  <wsdl:message name="ListPostofficeSoapOut">
    <wsdl:part name="parameters" element="tns:ListPostofficeResponse" />
  </wsdl:message>
  <wsdl:message name="RemovePostofficeSoapIn">
    <wsdl:part name="parameters" element="tns:RemovePostoffice" />
  </wsdl:message>
  <wsdl:message name="RemovePostofficeSoapOut">
    <wsdl:part name="parameters" element="tns:RemovePostofficeResponse" />
  </wsdl:message>
  <wsdl:message name="EditPostofficeSoapIn">
    <wsdl:part name="parameters" element="tns:EditPostoffice" />
  </wsdl:message>
  <wsdl:message name="EditPostofficeSoapOut">
    <wsdl:part name="parameters" element="tns:EditPostofficeResponse" />
  </wsdl:message>
  <wsdl:portType name="PostOfficeSoap">
    <wsdl:operation name="AddPostoffice">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a new Post Office. A Status value of 1 will enable the Post Office, while a Status value of 0 will disable it. Returns 1 if the Post Office was successfully added, otherwise returns 0 if it cannot be created.</wsdl:documentation>
      <wsdl:input message="tns:AddPostofficeSoapIn" />
      <wsdl:output message="tns:AddPostofficeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPostoffice">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a Post Office. Returns 1 if the PostOffice exists, otherwise returns 0.</wsdl:documentation>
      <wsdl:input message="tns:GetPostofficeSoapIn" />
      <wsdl:output message="tns:GetPostofficeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPostofficeObjectProperties">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the Properties of a PostOffice</wsdl:documentation>
      <wsdl:input message="tns:GetPostofficeObjectPropertiesSoapIn" />
      <wsdl:output message="tns:GetPostofficeObjectPropertiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListPostoffice">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of Postoffice Objects. Returns 0 if failure, 1 if complete, 2 if partial return</wsdl:documentation>
      <wsdl:input message="tns:ListPostofficeSoapIn" />
      <wsdl:output message="tns:ListPostofficeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemovePostoffice">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Remove an existing Post Office. Returns 1 if the Post Office was successfully removed, otherwise returns 0.</wsdl:documentation>
      <wsdl:input message="tns:RemovePostofficeSoapIn" />
      <wsdl:output message="tns:RemovePostofficeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditPostoffice">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edit an existing Post Office. A Status value of 1 will enable the Post Office, while a Status value of 0 will disable it. Returns 1 if the Post Office was successfully updated, otherwise returns 0.</wsdl:documentation>
      <wsdl:input message="tns:EditPostofficeSoapIn" />
      <wsdl:output message="tns:EditPostofficeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PostOfficeSoap" type="tns:PostOfficeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPostoffice">
      <soap:operation soapAction="http://mailenable.com/MEWebAdminService/PostOffice/AddPostoffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostoffice">
      <soap:operation soapAction="http://mailenable.com/MEWebAdminService/PostOffice/GetPostoffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostofficeObjectProperties">
      <soap:operation soapAction="http://mailenable.com/MEWebAdminService/PostOffice/GetPostofficeObjectProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPostoffice">
      <soap:operation soapAction="http://mailenable.com/MEWebAdminService/PostOffice/ListPostoffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePostoffice">
      <soap:operation soapAction="http://mailenable.com/MEWebAdminService/PostOffice/RemovePostoffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPostoffice">
      <soap:operation soapAction="http://mailenable.com/MEWebAdminService/PostOffice/EditPostoffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostOfficeSoap12" type="tns:PostOfficeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPostoffice">
      <soap12:operation soapAction="http://mailenable.com/MEWebAdminService/PostOffice/AddPostoffice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostoffice">
      <soap12:operation soapAction="http://mailenable.com/MEWebAdminService/PostOffice/GetPostoffice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostofficeObjectProperties">
      <soap12:operation soapAction="http://mailenable.com/MEWebAdminService/PostOffice/GetPostofficeObjectProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPostoffice">
      <soap12:operation soapAction="http://mailenable.com/MEWebAdminService/PostOffice/ListPostoffice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePostoffice">
      <soap12:operation soapAction="http://mailenable.com/MEWebAdminService/PostOffice/RemovePostoffice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPostoffice">
      <soap12:operation soapAction="http://mailenable.com/MEWebAdminService/PostOffice/EditPostoffice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostOffice">
    <wsdl:port name="PostOfficeSoap" binding="tns:PostOfficeSoap">
      <soap:address location="https://178.210.170.90:8089/PostOffice.asmx" />
    </wsdl:port>
    <wsdl:port name="PostOfficeSoap12" binding="tns:PostOfficeSoap12">
      <soap12:address location="https://178.210.170.90:8089/PostOffice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>